:root.dark {
  --text-0: rgba(255, 255, 255, 87%);
  --text-1: rgba(255, 255, 255, 60%);

  --bg-0: #121212;
  --bg-1: rgba(255, 255, 255, 5%);
  --bg-2: rgba(23, 23, 23, 100%);

  --primary-color: #50fa7b;
  --hover-color: black;

  time {
    color: #9c9a9a;
  }

  // * applying inversion on the complete square rather than just the icon
  .social {
    filter: invert(1);
  }

  // remove the inversion to render the icons in black, to match text hover effect
  .social:hover {
    filter:invert(0);
  }
  
  a:hover {
      background-color: var(--primary-color);
      color: var(--hover-color);
  }
}